/* General styles */
body {
	margin: 0;
	font-family: Arial, sans-serif;
  }
  
  .index-page {
	text-align: center;
	overflow-x: hidden;
  }
  
  .hero-header {
	position: relative;
	height: 50vh;
	color: white;
	display: flex;
	background: url('./assets/management.png') no-repeatcenter center;
	background-size: cover;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  }
  
  .hero-header h1 {
	margin: 0;
	font-size: 3rem;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  }
  
  .sidebar {
	margin: 20px 0;
  }
  .sidebar ul {
	list-style-type: none;
	padding: 0;
  }

  .sidebar li {
	margin: 0 15px;
	display: inline-block;
	font-size: 1.2rem;
  }
  
  section {
	padding: 20px 40px;
	text-align: left;
	background-color: #f9f9f9;
	margin-bottom: 20px;

  }
  section#team {
	background-color: #eef;
}

  section#about {
	background-color: #eff;
}
  footer {
	padding: 10px;
	background-color: #333;
	text-align: center;
	color: white;
  }
  
  @media (max-width: 768px) {
	.hero-header {
	  height: 30vh;
  }

  .hero-header h1 {
	font-size: 2rem;
}

  .sidebar li {
	 margin: 10px 0;
	 display: block;
 }

 .create-project {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  max-width: 400px;
  background-color: #f9f9f9;
}

.create-project h2 {
  margin-bottom: 15px;
  text-align: center;
  color: #333;
}

.create-project input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.create-project button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.create-project button:hover {
  background-color: #45a049;
}

.message {
  margin-top: 10px;
  color: green;
  text-align: center;
}
.project-list-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  max-width: 600px;
  margin: 0 auto;
}

.project-list {
  list-style: none;
  padding: 0;
}

.project-item {
  background-color: #e0e0e0;
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
}

.loading {
  text-align: center;
  font-size: 18px;
  color: #888;
}

.error-message {
  color: red;
  text-align: center;
  font-size: 18px;
}

 }
