/* General styles */
body {
	margin: 0;
	font-family: Arial, sans-serif;
  }
  
  .index-page {
	text-align: center;
	overflow-x: hidden;
  }
  
  .hero-header {
	position: relative;
	height: 50vh;
	color: white;
	display: flex;
	background: url('./assets/management.png') no-repeatcenter center;
	background-size: cover;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  }
  
  .hero-header h1 {
	margin: 0;
	font-size: 3rem;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  }
  
  .sidebar {
	margin: 20px 0;
  }
  .sidebar ul {
	list-style-type: none;
	padding: 0;
  }

  .sidebar li {
	margin: 0 15px;
	display: inline-block;
	font-size: 1.2rem;
  }
  
  section {
	padding: 20px 40px;
	text-align: left;
	background-color: #f9f9f9;
	margin-bottom: 20px;

  }
  section#team {
	background-color: #eef;
}

  section#about {
	background-color: #eff;
}
  footer {
	padding: 10px;
	background-color: #333;
	text-align: center;
	color: white;
  }
  
  @media (max-width: 768px) {
	.hero-header {
	  height: 30vh;
  }

  .hero-header h1 {
	font-size: 2rem;
}

  .sidebar li {
	 margin: 10px 0;
	 display: block;
 }
 }
