<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="{% static 'project_management/css/styles.css' %}">
</head>
<body>
    <div class="profile-container">
        <div class="profile-header">
            <img src="{% static 'project_management/images/profile.jpg' %}" alt="Profile Picture" class="profile-pic">
            <span class="username">Username</span>
        </div>
        <div class="icon-container">
            <a href="{% url 'projects' %}" class="icon">Projects</a>
	    <a href="{% url 'project_in_progress' %}" class="icon">Project in Progress</a>
        </div>
    </div>
</body>
</html>

